.app-chat-content{
  height: calc(100% - 40px);
  overflow-y: auto;
}
.app-chat-operator{
  margin-top: 10px;
}

/*msg panel*/
.app-msg-panel{
  border: 1px solid #111111;
  border-radius: 5px;
  margin: 15px 0;
}

#el_template {
  display: none;
}
.app-msg-heading{
  margin-top: -15px;

}

.app-msg-tip {
  font-size: 12px;
  border-radius: 5px;
  color: white;
  padding: 2px 5px;
  margin-right: 15px;
}
.app-msg-tip.pull-right {
  margin-right: 0px;
}

.app-msg-body {
  padding-bottom: 5px;
}

.backup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  background: lightgray;
  opacity: 0.6;
  display: none;
}

.app-file-container {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  padding: 10px;
  width: 400px;
  margin-left: -200px;
  z-index: 100;
  display: none;
}
